<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Title #}
  {% if title === "Home" %}
      {% set pageTitle = site.title + " — " + site.subtitle %}
    {% elif tags[0] === "guide" %}
      {% if prefix %}
        {% set pageTitle = "How to compost in " + prefix + " " + title + " — " + site.title %}
      {% else %}
        {% set pageTitle = "How to compost in " + title + " — " + site.title %}
      {% endif %}
    {% else %}
      {% set pageTitle = title + " — " + site.title %}
    {% endif %}
  <title>{{ pageTitle }}</title>
  
  {# Author #}
  <meta name="author" content="{{ site.title }}" />
  
  {# Description #}
  {% if description %}
    {% set ogDescription = description %}
  {% else %}
    {% set ogDescription = site.subtitle %}
  {% endif %}
  <meta name="description" content="{{ ogDescription }}"/>

  {# Eleventy #}
  <meta name="generator" content="{{ eleventy.generator }}">

  {# Stylesheets #}
  <link rel="stylesheet" href="{{ '/style.css' | url }}">

  {# Splitbee #}
  <script async src="https://cdn.splitbee.io/sb.js"></script>

  {# Anything bespoke to a page can go in these blocks #}
  {% block headContent %}{% endblock %}
</head>

<body>
  {% include "partials/site-header.html" %}
  <main>
    {% block bodyContent %}{% endblock %}
  </main>
  {% include "partials/site-footer.html" %} 
</body>
</html>
