<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {# Title #}
  {% set guideTitleStart = "How to compost " + preposition + " " %}
  {# Set a specific title for the homepage #}
  {% if title === "Home" %}
      {% set pageTitle = site.title + " — " + site.subtitle %}
    {# Set a fancy title for the guides #}
    {% elif tags[0] === "guide" %}
      {% if prefix %}
        {% set pageTitle = guideTitleStart + prefix + " " + title + " — " + site.title %}
      {% else %}
        {% set pageTitle = guideTitleStart + title + " — " + site.title %}
      {% endif %}
    {# ...and a generic one for everything else #}
    {% else %}
      {% set pageTitle = title + " — " + site.title %}
    {% endif %}
  <title>{{ pageTitle }}</title>
  
  {# Author #}
  <meta name="author" content="{{ site.title }}" />
  
  {# Description #}
  {% if description %}
    {% set ogDescription = description %}
  {% else %}
    {% set ogDescription = site.subtitle %}
  {% endif %}
  <meta name="description" content="{{ ogDescription }}"/>

  {# Eleventy #}
  <meta name="generator" content="{{ eleventy.generator }}">

  {# Stylesheets #}
  <link rel="stylesheet" href="{{ '/css/style.css' | url }}">

  {% if (env.eleventyRunMode === "build") %}
    {# Analytics #}
    <script async src="https://cdn.splitbee.io/sb.js"></script>
    <script data-goatcounter="https://brownpages.goatcounter.com/count"
			async src="//gc.zgo.at/count.js"></script>
  {% endif %}

  {# Below is modified from https://realfavicongenerator.net/ #}
  {# Definitive guide: https://evilmartians.com/chronicles/how-to-favicon-in-2021-six-files-that-fit-most-needs #}
  <link rel="manifest" href="/site.webmanifest">
  <meta name="theme-color" content="#451900">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
  <link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">

  {# Anything bespoke to a page can go in these blocks #}
  {% block headContent %}{% endblock %}
</head>

<body>
  {% include "partials/site-header.html" %}
  <main>
    {% block bodyContent %}{% endblock %}
  </main>
  {% include "partials/site-footer.html" %} 
</body>
</html>
