{% set crumbs = collections.publicGuides | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
{% set childGuides = collections.publicGuides | eleventyNavigation(eleventyNavigation.key) %}

{% macro renderBreadcrumbListItem(entry) -%}
<li>
    {%- if entry.url == false -%}
    {{ entry.title }}
    {%- else -%}
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    {%- endif -%}
</li>
{%- endmacro %}


{% macro renderChildGuideItem(entry) -%}
<li>
    <a href="{{ entry.url }}">{{ entry.title }}</a>
</li>
{%- endmacro %}



{% extends "layouts/base.njk" %}

{% block headContent %}
  {# Add relative date formatter, defer until document has been parsed as it relies on DOM elements #}
  <script defer src="/js/relative-date-formatter.js"></script>
{% endblock %}





{% block bodyContent %}
<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        {%- for entry in crumbs %}{{ renderBreadcrumbListItem(entry) }}{%- endfor -%}
    </ul>
</nav>


{# {{ collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.parent, {includeSelf: true}) | eleventyNavigationToHtml({ listClass: 'fl fl-inline', activeListItemClass: 'breadcrumb-active' }) | safe }} #}

<article>
    <h1><span>How to compost in {{ prefix }}</span><br>{{ title }}</h1>
    {# Last update datestamp #}
    {# textContent falls back to a readable default if JavaScript is disabled or relative-date-formatter.js doesn't work  #}
    <h2>Last updated <span class="relative-date" data-iso-date="{{ page.date | toISOString }}">on {{ page.date | readableDate }}</span></h2>


    {% if childGuides.length %}
    {# Has child guides, list them #}
    <h2>Child guides</h2>
    <ul>
        {%- for entry in childGuides %}{{ renderChildGuideItem(entry) }}{%- endfor -%}
    </ul>
    {% endif %}
    

    {% if stub %}
    <aside>
        <p>
            This page is a stub! That means it is incomplete and needs your help. <a href="mailto:drafter_preempt0f@icloud.com?subject=Suggestion%20for%20{{ title }}&body=Thanks%20for%20contributing%20to%20Brown%20Pages.%20Please%20replace%20this%20text%20with%20what%20you%20think%20should%20be%20on%20the%20{{ title }}%20page.%20Include%20references%20and%20images%20where%20relevant.%0D%0A%0D%0AYou%20can%20find%20more%20guidance%20on%20our%20Contribute%20to%20Brown%20Pages%20page%2C%20here%3A%0D%0Ahttps%3A%2F%2Fbrownpages.org%2Fcontribute"
            >Suggest additions</a> so it can be added to the directory.
        </p>
    </aside>
    {% else %}
    <a href="mailto:drafter_preempt0f@icloud.com?subject=Suggestion%20for%20{{ title }}&body=Thanks%20for%20contributing%20to%20Brown%20Pages.%20Please%20replace%20this%20text%20with%20what%20you%20think%20should%20be%20on%20the%20{{ title }}%20page.%20Include%20references%20and%20images%20where%20relevant.%0D%0A%0D%0AYou%20can%20find%20more%20guidance%20on%20our%20Contribute%20to%20Brown%20Pages%20page%2C%20here%3A%0D%0Ahttps%3A%2F%2Fbrownpages.org%2Fcontribute">Suggest an edit</a>
    {% endif %}

    {% if summary %}
    <aside>
    <h2>Summary</h2>
    <ul>
    {% for item in summary %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    </aside>
    
    <h2 class="visibly-hidden">Details</h2>
    {% endif %}

    {# Only show content if not a stub #}
    {% if not stub %}
    {{ content | safe }}
    {% endif %}

    <aside>
        <h2>Not enough to go on?</h2>
        <p>Search the <a href="https://sharewaste.com/share-waste" target="_blank" rel="noopener">ShareWaste map</a> for individuals who open their backyard compost up to the public. Also check out our guide on <a href="/compost-at-home">how to compost at home</a>.</p>
    </aside>
</article>
{% endblock %}