{% extends "layouts/base.njk" %}
{% block bodyContent %}

<h1>Your local guide<br> to composting</h1>

{% set navPages = collections.guides | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li>
    {%- if entry.url == false -%}
    {{ entry.title }}
    {%- else -%}
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    {%- endif -%}
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul class="directory">
  {%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>


{% endblock %}