{% extends "layouts/base.njk" %}
{% block bodyContent %}

<h1>{{ site.subtitle }}</h1>

{% set navPages = collections.publicGuides | eleventyNavigation %}
{% macro renderNavListItem(entry) -%}
<li>
    {%- if entry.url == false -%}
    {{ entry.title }}
    {%- else -%}
    <a href="{{ entry.url }}">{{ entry.title }}</a>
    {%- endif -%}
{%- if entry.children.length -%}
  <ul>
    {%- for child in entry.children %}{{ renderNavListItem(child) }}{% endfor -%}
  </ul>
{%- endif -%}
</li>
{%- endmacro %}

<ul>
{%- for entry in navPages %}{{ renderNavListItem(entry) }}{%- endfor -%}
</ul>


{# {{ collections.publicGuides | eleventyNavigation | eleventyNavigationToHtml | safe }} #}

{% endblock %}