<footer>
  <div>{% include "partials/symbol.svg" %}</div>
  <section>
    <p>
      Brown Pages is a project by
      <a href="https://dannywhite.org" target="_blank" rel="noopener"
        >Danny White</a
      >
      and <a href="/contribute">friends</a>. It was last published on {{
      generatedDate }}.
    </p>

    <ul class="plain">
      <li><a href="/" aria-label="Home">Directory</a></li>
      <li><a href="/compost-at-home">Compost at home</a></li>
      <li><a href="/compost-anywhere">Compost anywhere</a></li>
      <li><a href="/contribute">Contribute</a></li>
    </ul>
  </section>
</footer>
