<footer>
  <p>
    Brown Pages is a project by
    <a href="https://dannywhite.org" target="_blank" rel="noopener"
      >Danny White</a
    >
    and <a href="/contribute#contributors">friends</a>. It was last updated on
    {{ generated }}.
  </p>
  <ul>
    <li><a href="/" aria-label="Home">Directory</a></li>
    <li><a href="/compost-at-home">Compost at home</a></li>
    <li><a href="/compost-anywhere">Compost anywhere</a></li>
    <li><a href="/contribute">Contribute to Brown Pages</a></li>
  </ul>
</footer>
